@charset "UTF-8";

@use "../../foundation/variable" as *;

/*------------------------------
component > _background.scss
------------------------------*/

/*----- メインビジュアル -----*/
.c-main-visual__background-img {
    background-image: url("../../mainvisual-img/mainvisual-sp@2x.jpg");
    width: 100%;
    height: 285px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.c-main-visual {
    width: 100%;
    height: 285px;
    display: flex;
    align-items: center;
    background-size: cover;
}

/*----- archive -----*/
/*
.c-archive__main-visual {
    //background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) 50%),url("../../mainvisual-img/page-title_archive@2x.jpg");
    background-size: cover;
    margin-bottom: 30px;
    @include breakpoint(tablet) {
        //background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) 50%),url("../../mainvisual-img/page-title_archive.jpg");
        margin-bottom: 36px;
    }
}
*/
.c-contents--item__background {
    background-color: $background-text;
}

/*----- サイドバー背景 -----*/
.l-sidebar {
    background-color: $background-sidebar;
}

/*----- content-item背景 -----*/
.c-content-items__background-color {
    background-color: rgba(255,255,255,0.6);
    width: 305px;
    height: auto;
    text-align: left;
    flex-wrap: wrap;
    margin: 0 auto 13px auto ;
    padding: 1rem;
}

/*----- 地図背景 -----*/
.p-access-text__background-color {
    background-color: rgba(0,0,0,0.29);
    width: 100%;
    height: auto;
    text-align: left;
    flex-wrap: wrap;
    margin: 0 auto 13px auto ;
    background-repeat: no-repeat;
    //padding: 1rem;
}