@charset "UTF-8";

@use "../../foundation/variable" as *;

button {
    background-color: $button-card-background;
    border-radius: 24px;
    a {
        color: $text-card-button;
        font-weight: bold;
    }
}

.c-sidebar__button {
    color: $title-sidebar;
    font-size: 1.25rem;
    padding-top: 14px;
    margin-left: 83%;
    cursor: pointer;

    @include breakpoint(pc) {
        display: none;
    }
}

.c-sidebar__button--close {
    display: none;
    &.open {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 17px;
        position: fixed;
    }
    @include breakpoint(pc) {
        display: none;
    }
}