@charset "UTF-8";

@use "../../foundation/variable" as *;

.c-sidebar__button {
    color: $title-sidebar;
    font-size: 1.25rem;
    padding-top: 14px;
    margin-left: 83%;
    cursor: pointer;

    @include breakpoint(pc) {
        display: none;
    }
}