@charset "UTF-8";

@use "../../foundation/variable" as *;

button {
    background-color: $button-card-background;
    border-radius: 24px;
    padding: 10px 42px;
    a {
        color: $text-card-button;
        font-size: 1.6rem;
        font-weight: 700;
    }
}

.c-shingle-button {
    background: linear-gradient($button-gradation-light, $button-gradation-dark);
    border: solid 1px ;
    border-radius: 20px;
    height: 81px;
    a {
        color: $text-item;
    }
    @include breakpoint(tablet) {
        max-width: 50%;
    }
}

//Menuボタン
.c-button--sidebar {
    color: $title-sidebar;
    font-size: 2rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    @include breakpoint(pc) {
        display: none;
    }
}

.c-sidebar__button--close {
    img {
        cursor: pointer;
        position: absolute;
        top: 25px;
        //top: 50px;
        right: 17px;
        width: auto;
        height: auto;
    }
    @include breakpoint(pc) {
        display: none;
    }
}

.c-sidebar--title {
    display: none;
    @include breakpoint(pc) {
        display: block;
        color: $title-sidebar;
        font-size: 4rem;
        font-weight: 700;
    }
}