@use "../../foundation/variable" as *;

.c-inner {
    margin: 0 16px;
    height: 217px;
    @include breakpoint(tablet) {
        margin: 0 26px;
    }
    @include breakpoint(pc) {
        
    }
}