@charset "UTF-8";

@use "../../foundation/variable" as *;
/*------------------------------
object > component > text
------------------------------*/

/*-----itemテキスト-----*/
.c-text--item {
    font-size: 1.6rem;
    font-weight: regular;
}

/*-----地図テキスト-----*/
.c-text--access {
    color: $text-contents;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 33px;
}

/*-----サイドバーテキスト-----*/
.l-sidebar__lists {
    & li {
    color: $text-sidebar;
    font-size: 2rem;
    margin-left: 65px;
    margin-bottom: 23px;
    }
}

/*-----footerテキスト-----*/
footer p {
    color: $text-contents;
    font-size: 1.25rem;
}
footer p .copy {
    color: $text-contents;
    font-size: 0.875rem;
}