@charset "UTF-8";

@use "../../foundation/variable" as *;
/*------------------------------
object > component > text
------------------------------*/

/*-----itemテキスト-----*/
.c-text--item {
    font-size: 1.6rem;
    //font-weight: regular;
}

.c-text--description {
    font-size: 1.6rem;
    color: $text-item;
    line-height: 23px;
    margin: 0;
}

/*-----サイドバーテキスト-----*/
.c-text-sidebar--sub-menu {
    & li {
    color: $text-sidebar;
    font-size: 2rem;
    //margin-left: 65px;
    //margin-bottom: 23px;
    }
}

/*-----地図テキスト-----*/
.c-text--access {
    color: $text-contents;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 33px;
}

/*-----archiveテキスト-----*/
.c-text-archive__card {
    color: $text-card;
    font-size: 1.6rem;
    line-height: 23px;
}

/*-----shingle-pageテキスト-----*/
.c-text-blockquote {
    color: $text-item;
    font-size: 1.6rem;
}

.c-text-blockquote__reference-source {
    font-size: 1.6rem;
    color: $text-item;
}

.c-text--shingle-section {
    font-size: 1.6rem;
    color: $text-item;
    text-indent: 1.6rem;
    line-height: 2.5rem;
}

.c-text-shingle-lists {
    color: $text-item;
    font-size: 1.6rem;
}