@use "../../foundation/variable" as *;

.u-grid {
    position: relative;
    height: 100%;//有効にするとサイドバー短くなる,途中から影響無し
    @include breakpoint(pc) {
        display: grid;
        grid-template-columns: 80% minmax(260px,1fr);
        grid-template-rows: 217px 1fr 150px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        //grid-template-rows: 7% 1fr 5%;
        &__main {
            @include breakpoint(pc) {
                grid-column: 1/2;
                grid-row: 2/3;
            }
        }  
    }
}

.u-grid__shingle {
    padding: 0 20px;
}