@use "../../foundation/variable" as *;

.u-grid {
    @include breakpoint(pc) {
        display: grid;
        grid-template-columns: 80% minmax(260px,20%);
        grid-template-rows: 217px 1fr 150px;
        //grid-template-rows: 7% 18% 48% 22% 5%;
        &__main {
            @include breakpoint(pc) {
                grid-column: 1/2;
                grid-row: 2/3;
            }
        }  
    }
}

//grid-template-columns: 1fr minmax(290px,20%);