@charset "UTF-8";

@use "../../foundation/variable" as *;

.p-access {
    &__map > img {
        max-height: 691px;
        position: absolute;
        max-width: 100%;
        background-size: cover;
        
        @include breakpoint(tablet) {
            &__map > img {
                max-height: 415px;
            }
        }
        @include breakpoint(pc) {
            &__map > img {
                max-height: 649px;
                width: 80%;
                height: 22%;
                grid-column-start: 1/3;
                grid-column-end: 2/3;
                grid-row-start: 5/6;
                grid-row-end: 6/6;

            }
        }
    }
    &__text {
        width: 100vw;
        height: auto;
        position: relative;
        background-color: rgba(0,0,0,0.29);
        padding: 10% 3%;
        @include breakpoint(pc) {
            width: 50%;
        }
    }
}