@charset "UTF-8";

@use "../../foundation/variable" as *;

.p-access {
    &__map > img {
        max-height: 691px;
        position: absolute;
        background-size: contain;
    }
    &__text {
        width: 100%;
        height: auto;
        position: relative;
        background-color: rgba(0,0,0,0.29);
        padding: 10% 3%;
    }
    @include breakpoint(tablet) {
        &__map > img {
            max-height: 415px;
        }
    }
    @include breakpoint(pc) {
        &__map > img {
            max-height: 649px;
        }
    }
}