@charset "UTF-8";

@use "../../foundation/variable" as *;

.p-access {
    @include breakpoint(pc) {
        max-height: 649px;
        //width: 80%;
        //height: 22%;

    }
    &__map > img {
        max-height: 691px;
        position: absolute;
        max-width: 100%;
        background-size: cover;
        
        @include breakpoint(tablet) {
            &__map > img {
                max-height: 415px;
            }
        }
        @include breakpoint(pc) {
            width: 80%;
            background-size: cover;
            height: auto;
        }
        }
    &__text {
        width: 100vw;
        height: auto;
        position: relative;
        background-color: rgba(0,0,0,0.29);
        padding: 10% 3%;
        @include breakpoint(pc) {
            width: 50%;
            grid-column: 1/2;
            grid-row: 4/5;
        }
    }
}