@use "../../foundation/variable" as *;

.p-main-visual--archive {
    margin-bottom: 30px;
    .c-main-bg {
        position: relative;
    }
    .c-title--textline__bg {
        position: absolute;
        top: 65%;
    }
}

.p-archive-description {
    .c-title--description {
        margin-bottom: 30px;
    }
    @include breakpoint(tablet) {
        margin-bottom: 25px;
    }
    @include breakpoint(tablet) {
        margin-right: 35px;
        margin-bottom: 37px;
        margin-left: 42px;
    }
}

.p-archive__section {
    figure:last-child {
        margin-bottom: 113.4px;
        @include breakpoint(tablet) {
            margin-bottom: 170.5px;
        }
        @include breakpoint(pc) {
            margin-bottom: 249px;
        }
    }
    @include breakpoint(tablet) {
        margin-right: 35px;
        margin-left: 35px;
    }
}
.p-archive {
    &__card {
        display: flex;
        flex-direction: column;
        margin: 20px;
        @include breakpoint(tablet) {
            flex-direction: row;
            img {
                width: 50%;
                background-size: cover;
            }
        }
        @include breakpoint(pc) {
            margin: 30px;
        }
    }
    &__item {
        background-color: $background-card;
        color: $text-card;
        text-align: center;
        p {
            padding-right: 20%;
        }
        &-text {
            text-align: left;
            padding-left: 17px;
            .p-archive__title {
                font-size: 1.25rem;
                margin: 24px 0;
            }
            .p-archive__sub-title {
                margin-bottom: 10px;
            }
        }
        @include breakpoint(tablet) {
            width: 50%;
        }

        button {
            color: $text-card;
            padding: 10px 42px;
            margin: 43.7px 93px 43.7px 79.9px;
        }
    }
}