@use "../../foundation/variable" as *;

.p-main-visual--archive-search {
    margin-bottom: 30px;
    .c-main-bg {
        position: relative;
    }
    .c-title--textline__bg--search {
        position: absolute;
        top: 33%;
        @include breakpoint(tablet) {
            margin-left: 66px;
        }
        @include breakpoint(pc) {
            margin-left: 86px;
        }
    }
}