@charset "UTF-8";

@use "../../foundation/variable" as *;

.p-branch-menu {
    background-position: center;
    display: flex;
    @include breakpoint(tablet) {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    &__content {
        margin-top: 60%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    &__takeout {
        background-image: url("../mainvisual-img/page-title_archive.png");
        width: 100%;
        max-height: auto;
        margin-bottom: 20px;
        background-position: center;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .c-title--underline {
            top: 30px;
            left: 30px;
            @include breakpoint(tablet) {
                top: 12px;
                left: 11px;
            }
        }
        .c-title--item {
            margin-bottom: 3px;
        }
    }

    &__eatin {
        background-image: url("../mainvisual-img/eatin.png");
        width: 100%;
        max-height: auto;
        margin-bottom: 20px;
        background-position: center;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .c-title--underline {
            top: 30px;
            left: 30px;
            @include breakpoint(tablet) {
                top: 12px;
                left: 11px;
            }
        }
        .c-title--item {
            margin-bottom: 3px;
        }
    }

    &__lists {
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        background-position: center;
        @include breakpoint(tablet) {
            display: flex;
            gap: 4%;
            height: auto;
        }
    }
    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
    }
}

.p-branch-menu__items {
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: $background-text;
    height: auto;
    text-align: center;
    padding: 7px 10px 15px 10px;
    text-align: left;
    color: $text-item;
    margin-bottom: 15px;
}

