@use "../../foundation/variable" as *;

.p-description {
    .c-title2--description {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .c-text--description {
        margin-bottom: 60px;
    }
    .c-title3--description {
        margin-bottom: 60px;
    }
    .c-title4--description {
        margin-bottom: 60px;
    }
    .c-title5--description {
        margin-bottom: 60px;
    }
    .c-title6--description {
        margin-bottom: 60px;
    }
    &-blockquote {
        background-color: $background-blockquote;
    }
}