@use "../../foundation/variable" as *;

.p-main-visual {
    background-image: url("../../mainvisual-img/mainvisual-sp@2x.jpg");
    width: 100vw;
    height: 285px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    
    &__title {
        color: $title-contents;
        font-size: 2.25rem;
        font-weight: bold;
        padding-left: 1rem;
    }
    @include breakpoint(tablet) {
        background-image: url("../../mainvisual-img/mainvisual-pc@2x.jpg");
        height: 285px;
    }
    @include breakpoint(pc) {
        background-image: url("../../mainvisual-img/mainvisual-pc@2x.jpg");
        height: 530px;
        background-size: cover;
        width: 80%;
        grid-column-start: 1/3;
        grid-column-end: 2/3;
        grid-row-start: 2/6;
        grid-row-end: 3/6;
    }
}

.p-main-visual.open {
    position: fixed;
    
}