@use "../../foundation/variable" as *;

.p-main-visual {
    background-image: url("../../mainvisual-img/mainvisual-sp@2x.jpg");
    width: 100%;
    height: 285px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
    &__title {
        color: $title-contents;
        font-size: 2.25rem;
        font-weight: bold;
        padding-left: 1rem;
    }
}