@use "../../foundation/variable" as *;

.p-shingle__main-visual {
    margin-bottom: 30px;
    .c-main-bg--shingle {
        position: relative;
        @include breakpoint(tablet) {
            max-height: 500px;
        }
    }
    .c-title--main-visual {
        position: absolute;
        margin-left: 3.6rem;
    }
}

/*-----引用ブロック-----*/
.p-description-blockquote {
    margin-bottom: 30px;
    @include breakpoint(tablet) {
        margin-bottom: 60px;
    }
    .c-text-blockquote {
        padding: 2rem;
    }
    .c-text-blockquote__reference-source {
        padding-top: 5%;
        @include breakpoint(tablet) {
            padding-top: 13%;
        }
        @include breakpoint(pc) {
            padding-top: 5%;
        }
    }
    a {
        text-decoration: underline;
        margin-bottom: 30px;
    }
}

.c-shingle__big-img {
    img {
        margin-bottom: 30px;
        @include breakpoint(tablet) {
            margin-bottom: 60px;
        }
    }
}

/*-----写真とテキスト-----*/
.p-shingle-section {
    .p-shingle-content {
        display: flex;
        height: 176px;
        margin-bottom: 30px;
        gap: 10px;
        max-width: 100%;
        @include breakpoint(tablet) {
            height: 373px;
        }
        img {
            width: 40%;
            height: 55%;
            object-fit: cover;
            @include breakpoint(tablet) {
                width: 42%;
                height: 189px;
            }
            @include breakpoint(pc) {
                height: 100%;
            }
        }
        p {
            overflow-y: hidden;
            width: 60%;
            @include breakpoint(tablet) {
                width: 58%;
            }
        }
    }
    .p-shingle-content:not(:last-child) {
        @include breakpoint(tablet) {
            margin-bottom: 117px;
        }
        @include breakpoint(pc) {
            margin-bottom: 60px;
        }
    }
    .p-shingle-content:last-child {
        @include breakpoint(tablet) {
            margin-bottom: 61px;
        }
    }
    .p-shingle-content:nth-child(even) {
        flex-direction: row-reverse;
    }
}

.p-shingle--insertion-image--small {
    img {
        width: 267px;
        height: 166px;
        object-fit: cover;
        display: flex;
        margin: 0 auto 30px auto;
        @include breakpoint(tablet) {
            margin-bottom: 241px;
            width: 80%;
            height: 100%;
        }
        @include breakpoint(pc) {
            margin-bottom: 60px;
            height: 358px;
            width: auto;
        }
    }
}

.p-shingle--insertion-image--big {
    img {
        margin: 0 auto 1.5vh auto;
        object-fit: cover;
        height: 205px;
        width: 100%;
        object-position: 100% 100%;
        &:last-child {
            margin-bottom: 30px;
            @include breakpoint(tablet) {
                margin-bottom: 60px;
            }
        }
        @include breakpoint(tablet) {
            margin: 0 auto 1vh auto;
            height: 205px;
        }
        @include breakpoint(pc) {
            height: 257px;
        }
    }
}

/*-----番号付きList-----*/
.p-shingle__lists--numbering {
    margin-bottom: 60px;
}
.c-list-numbering__first {
    & li:last-child {
        margin-bottom: 20px;
    }
}
.c-list-numbering__first__item2 {
    margin-bottom: 20px;
}

.c-list-numbering {
    margin-bottom: 20px;
    .c-list-numbering {
        margin-bottom: 20px;
    }
}

/*-----番号無しList-----*/
.p-shingle__lists--no-numbering {
    margin-bottom: 30px;
    @include breakpoint(tablet) {
        margin-bottom: 60px;
    }
}
.c-list--no-numbering__first {
    &__item2 {
        margin-bottom: 20px;
    }
}
.c-list--no-numbering__second {
    margin-bottom: 20px;
}

/*-----tag-----*/
.p-shingle__tag {
    margin-bottom: 30px;
    p {
        background-color: $background-tag;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include breakpoint(tablet) {
        margin-bottom: 60px;
    }
    @include breakpoint(pc) {
        padding-bottom: 50px;
    }
}
/*-----table-----*/
.p-shingle-table {
    margin-bottom: 30px;
    @include breakpoint(tablet) {
        margin-bottom: 60px;
    }
    &-item {
        tr {
            width: 100vw;
            th {
                width: 40vw;
                padding: 1.6rem;
                text-align: left;
            }
            td {
                width: 60vw;
                padding: 1.6rem;
                text-align: left;
            }
        }
    }
    .p-shingle-table-item {
        border-collapse:collapse;
        border-color: $color-gray;
    }
}

/*-----ボタン-----*/
.p-shingle-button {
    margin-bottom: 30px;
    @include breakpoint(tablet) {
        margin-bottom: 60px;
    }
    .c-shingle-button {
        width: 88%;
    }
}

.p-shingle-text-bold {
    margin-bottom: 177px;
    @include breakpoint(tablet) {
        margin-bottom: 228px;
    }
    p {
        font-weight: 700;
        font-size: 1.6rem;
    }
}