@use "../foundation/variable" as *;

.l-header {
    background-color: $background-header;
    height: 217px;
    .c-button--sidebar {
        padding-top: 14px;
        text-align: right;
    }

    &__section {
        text-align: center;
        @include breakpoint(pc) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 67px;
        }
        .c-title--header {
            margin-top: 0;
            margin-bottom: 38px;
            @include breakpoint(pc) {
                margin-bottom: 0;
            }
        }
    }
    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
    }
    @include breakpoint(pc) {
        width: 100%;
        object-fit: cover;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 217px;
    }
}

.l-header.open {
    @include breakpoint(tablet) {
        position: fixed;
    }
    @include breakpoint(pc) {
        position: fixed;
    }
}