@use "../foundation/variable" as *;

.l-header {
    background-color: #FFF7EF;
    height: 217px;

    &__section {
        text-align: center;
    }

    @include breakpoint(tablet) {
    }

    @include breakpoint(pc) {
        &__section {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}