@use "../foundation/variable" as *;

.l-sidebar {
    position: absolute;
    top: 0;
    left: 5%;
    height: auto;
    &__section {
        position: absolute;
        z-index: 2;
        overflow: hidden;
        width: 0;//0にすると表示されなくなるけど、100％でもなる
        background-color: $background-sidebar;
    }
}

.l-sidebar.open {
    .l-sidebar__section {
        width: 340px;
    }
}

/*nav {
    left: 187px;
    top: 0%;
    width: 328px;
}
*/