@use "../foundation/variable" as *;

.l-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    //padding-bottom: 214.5vh;//幅によってははみ出す
    //overflow-x: auto;効果無し
    &__section {
        //position: absolute;
        z-index: 2;
        overflow: hidden;
        //overflow-y: auto;
        //scroll-behavior: auto;
        width: 0;//0にすると表示されなくなるけど、100％でもなる
        background-color: $background-sidebar;
        padding-top: 217px;
        //display: block;
        transition: 0.5s;
        @include breakpoint(pc) {
            width: 100%;
            //position: inherit;
        }
    }
    @include breakpoint(pc) {
        width: auto;
        //height: 95%;
        grid-column: 2/3;
        grid-row: 1/3;
        position: inherit;
    }
    
}

.l-sidebar {
    &.open {
        .l-sidebar__section {
            width: 87vw;
            right: 0;
            @include breakpoint(tablet) {
                width: 44vw;
            }
        }
    }
}